@font-face{
  font-family: "Source Serif Variable";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Source Serif Pro/WOFF2/VAR/SourceSerifVariable-Roman.ttf.woff2") format("woff2"),
       url("../fonts/Source Serif Pro/WOFF2/VAR/SourceSerifVariable-Roman.otf.woff2") format("woff2"),
       url("../fonts/Source Serif Pro/WOFF/VAR/SourceSerifVariable-Roman.ttf.woff") format("woff"),
       url("../fonts/Source Serif Pro/WOFF/VAR/SourceSerifVariable-Roman.otf.woff") format("woff"),
       url("../fonts/Source Serif Pro/VAR/SourceSerifVariable-Roman.ttf") format("truetype"),
       url("../fonts/Source Serif Pro/VAR/SourceSerifVariable-Roman.otf") format("opentype");
}

@font-face{
  font-family: "Source Serif Variable";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/Source Serif Pro/WOFF2/VAR/SourceSerifVariable-Italic.ttf.woff2") format("woff2"),
       url("../fonts/Source Serif Pro/WOFF2/VAR/SourceSerifVariable-Italic.otf.woff2") format("woff2"),
       url("../fonts/Source Serif Pro/WOFF/VAR/SourceSerifVariable-Italic.ttf.woff") format("woff"),
       url("../fonts/Source Serif Pro/WOFF/VAR/SourceSerifVariable-Italic.otf.woff") format("woff"),
       url("../fonts/Source Serif Pro/VAR/SourceSerifVariable-Italic.ttf") format("truetype"),
       url("../fonts/Source Serif Pro/VAR/SourceSerifVariable-Italic.otf") format("opentype");
}
