@font-face{
  font-family: "Source Sans Variable";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Source Sans Pro/WOFF2/VAR/SourceSansVariable-Roman.ttf.woff2") format("woff2"),
       url("../fonts/Source Sans Pro/WOFF2/VAR/SourceSansVariable-Roman.otf.woff2") format("woff2"),
       url("../fonts/Source Sans Pro/WOFF/VAR/SourceSansVariable-Roman.ttf.woff") format("woff"),
       url("../fonts/Source Sans Pro/WOFF/VAR/SourceSansVariable-Roman.otf.woff") format("woff"),
       url("../fonts/Source Sans Pro/VAR/SourceSansVariable-Roman.ttf") format("truetype"),
       url("../fonts/Source Sans Pro/VAR/SourceSansVariable-Roman.otf") format("opentype");
}

@font-face{
  font-family: "Source Sans Variable";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/Source Sans Pro/WOFF2/VAR/SourceSansVariable-Italic.ttf.woff2") format("woff2"),
       url("../fonts/Source Sans Pro/WOFF2/VAR/SourceSansVariable-Italic.otf.woff2") format("woff2"),
       url("../fonts/Source Sans Pro/WOFF/VAR/SourceSansVariable-Italic.ttf.woff") format("woff"),
       url("../fonts/Source Sans Pro/WOFF/VAR/SourceSansVariable-Italic.otf.woff") format("woff"),
       url("../fonts/Source Sans Pro/VAR/SourceSansVariable-Italic.ttf") format("truetype"),
       url("../fonts/Source Sans Pro/VAR/SourceSansVariable-Italic.otf") format("opentype");
}
