{% extends "base.html" %}
{% block title %}Alert{% endblock %}
{% from "includes/_form_helper.html" import render_field %}

{% block content %}
<div class="container-fluid content">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h4 class="text-center">Email Specified Alert</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-5">
        <tbody>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
