{% extends "base.html" %}
{% block title %}Backup{% endblock %}
{% from "includes/_form_helper.html" import render_field %}

{% block content %}
    <div class="container-fluid content">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <h4 class="text-center">Backup</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <form class="form" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ render_field(form.source, class="form-control") }}
                    </div>
                    <div>
                        {{ render_field(form.interval_type.label) }}
                        <div>
                            {% for field in form.interval_type %}
                                <div class="form-check form-check-inline">
                                    {{ field(class="form-check-input") }}
                                    {{ field.label(class="form-check-label") }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ render_field(form.interval, class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.manual(class="btn btn-warning btn-lg btn-block")  }}
                        {{ form.update(class="btn btn-success btn-lg btn-block") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock%}
