{% extends "base.html" %}
{% block title %}Encrypt New File{% endblock %}
{% block content %}
<div class="d-flex" style="height: 80vh;">
  <div class="ml-auto mr-auto align-self-center">
    <h1 class="text-center" style="font-size: 50px;">Encrypt File</h1>
    <p class="lead text-center">Choose file to encrypt:</p>
    <form action="" method="POST" enctype="multipart/form-data"
      class="text-center">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="form-group">
        <input type="file" name="file" class="form-control" />
      </div>
      <button name="encrypt" value="Encrypt" class="btn btn-primary" onclick="confirmUpload()">Encrypt</button>
      <button name="decrypt" value="Decrypt" class="btn btn-primary" onclick="confirmUpload2()">Decrypt</button>
    </form>
  </div>
</div>
<script src="/static/js/confirmEncryptFile.js"></script>
{% endblock %}
