{% extends "base.html" %}
{% block title %}Encrypt Field{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Choose field to encrypt:</h2>
      <form method="POST">
        {{ form.csrf_token}}
        <div class="form-group">
          <label for="email">Class:   <i>(For example: User)</i></label>
          {{ form.model(class="form-control") }}
        </div>
        <div class="form-group">
          <label for="email">Field:   <i>(For example: email)</i></label>
          {{ form.field(class="form-control")}}
        </div>
        <input type="submit" class="btn btn-primary btn-lg" onclick="confirmUpload()" />
      </form>
    </div>
  </div>
</div>
<script src="/static/js/confirmEncryptField.js"></script>
{% endblock %}
