{% extends "base.html" %}
{% block title %}{% if current_user.is_authenticated %}Index{% else %}Login{%
endif %}{% endblock %}
{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<h1 class="display-3 text-center">SecureDB</h1>
{% if current_user.is_authenticated %}
<p class="lead text-center">Welcome to SecureDB.</p>

<div class="ct-chart ct-perfect-fourth">

</div>



<script>

  var getData = $.get("/data");

  getData.done(function(results) {
    var data = {
      // A labels array that can contain any sort of values
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        results.results
      ]
    };

    // As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
    // as you saw in the previous example
    var options = {
      width: 600,
      height: 200
    };

    // Create a new line chart object where as first parameter we pass in a selector
    // that is resolving to our chart container element. The Second parameter
    // is the actual data object. As a third parameter we pass in our custom options.
    var myChart = new Chartist.Bar('.ct-chart', data, options);

  });


</script>


{% else %}
<p class="lead text-center">Login to SecureDB to continue.</p>
<hr />
<div class="row">
  <div
    class="border rounded p-4 offset-1 offset-sm-2 offset-md-3 col-10 col-sm-8 col-md-6">
    <form method="POST" action="{{ url_for('index', next=next) }}">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ render_field(form.username, class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>




{% endif %}
{% endblock%}
