{% extends "base.html" %}
{% block title %}{% if current_user.is_authenticated %}Index{% else %}Login{%
endif %}{% endblock %}
{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<style>
  .ct-series-a .ct-bar {
    stroke: #1de016;
  }

  .ct-series-b .ct-bar {
    stroke: #faf32d;
  }

  .ct-series-c .ct-bar {
    stroke: #d60909;
  }
</style>
<h1 class="display-3 text-center">SecureDB</h1>
{% if current_user.is_authenticated %}
<p class="lead text-center">Welcome to SecureDB.</p>
{% if "view_logged_requests" in current_user_permissions %}
<div class="container-fluid content text-center">
  <div class="row">
    <div class="col-sm-6">
      <div class="border rounded m-1 p-2 h-100">
          <div class="ct-chart ct-golden-section"></div>
          <div class="text-center">
            <button id="day" class="btn btn-primary btn-lg" style="width:32%;">Week</button>
            <button id="month" class="btn btn-primary btn-lg" style="width:32%;">Month</button>
            <button id="year" class="btn btn-primary btn-lg" style="width:32%;">Year</button>
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="border rounded m-1 p-2 h-50">
        <div class="row">
          <div class="col-sm-12">
            <div class=" justify-content-center">
              <h2>Today's Request</h2>
              <div class="row">
                <div class="col-sm-4">
                  <h3 class="bg-success text-white">Low: {{ alert_list[0] }}</h3>
                </div>
                <div class="col-sm-4">
                  <h3 class="bg-warning text-dark">Medium: {{ alert_list[1] }} </h3>
                </div>
                <div class="col-sm-4">
                  <h3 class="bg-danger text-white">High: {{ alert_list[2] }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="border rounded m-1 p-2 h-50">
        <div class="row">
          <div class="col-sm-12">
            <h3>Most recent backup: {{ recent_backup }}</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endif %}

<script src="/static/js/dashboard.js"></script>
{% else %}
<p class="lead text-center">Login to SecureDB to continue.</p>
<hr />
<div class="row">
  <div
    class="border rounded p-4 offset-1 offset-sm-2 offset-md-3 col-10 col-sm-8 col-md-6">
    <form method="POST" action="{{ url_for('index', next=next) }}">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ render_field(form.username, class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock%}
