{% extends "base.html" %}
{% block title %}{% if current_user.is_authenticated %}Index{% else %}Login{%
endif %}{% endblock %}
{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<style>
.ct-series-a .ct-bar {
  stroke: #1de016;
}

.ct-series-b .ct-bar {
  stroke: #faf32d;
}

.ct-series-c .ct-bar {
  stroke: #d60909;
}
</style>
<h1 class="display-3 text-center">SecureDB</h1>
{% if current_user.is_authenticated %}
<p class="lead text-center">Welcome to SecureDB.</p>
<div class="container-fluid content text-center">
  <div class="row">
    <div class="col-sm-6 border border-dark">
      <div class="ct-chart ct-golden-section"></div>
      <div class="text-center">
        <button id="day" class="btn btn-primary btn-lg" style="width:32%;">Day</button>
        <button id="month" class="btn btn-primary btn-lg" style="width:32%;">Month</button>
        <button id="year" class="btn btn-primary btn-lg" style="width:32%;">Year</button>
      </div>
    </div>
    <div class="col-sm-6 border border-dark">
      <div class=" justify-content-center">
        <h2>Today's Request</h2>
        <div class="row">
          <div class="col-sm-4">
            <h3 class="bg-success text-white">Low: {{ alert_list[0] }}</h3>
          </div>
          <div class="col-sm-4">
            <h3 class="bg-warning text-dark">Medium: {{ alert_list[1] }} </h3>
          </div>
          <div class="col-sm-4">
            <h3 class="bg-danger text-white">High: {{ alert_list[2] }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  var myChart;

  var getData = $.get("/day");

  getData.done(function(results) {
    var data = {
      // A labels array that can contain any sort of values
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        results.low, results.medium, results.high
      ]

    };

    // As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
    // as you saw in the previous example
    var options = {
      stackBars: true,
    };

    // Create a new line chart object where as first parameter we pass in a selector
    // that is resolving to our chart container element. The Second parameter
    // is the actual data object. As a third parameter we pass in our custom options.
    myChart = new Chartist.Bar('.ct-chart', data, options).on('draw', function(data) {
      if(data.type === 'bar') {
        data.element.attr({
          style: 'stroke-width: 30px'
        });
      }
    });

  });

  function updateChartDay() {

    var updatedData = $.get("/day");

    updatedData.done(function(results) {

      var data = {
        // A labels array that can contain any sort of values
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        // Our series array that contains series objects or in this case series data arrays
        series: [
          results.low, results.medium, results.high
        ]
      };
      myChart.update(data);

    });
  }
  $("#day").on('click', updateChartDay);

  function updateChartMonth() {

    var updatedData = $.get("/month");

    updatedData.done(function(results) {

      var data = {
        // A labels array that can contain any sort of values
        labels: results.month,
        // Our series array that contains series objects or in this case series data arrays
        series: [
          results.low, results.medium, results.high
        ]
      };
      myChart.update(data);

    });
  }
  $("#month").on('click', updateChartMonth);

  function updateChartYear() {

    var updatedData = $.get("/year");

    updatedData.done(function(results) {

      var data = {
        // A labels array that can contain any sort of values
        labels: results.year,
        // Our series array that contains series objects or in this case series data arrays
        series: [
          results.low, results.medium, results.high
        ]
      };
      myChart.update(data);

    });
  }
  $("#year").on('click', updateChartYear);

</script>


{% else %}
<p class="lead text-center">Login to SecureDB to continue.</p>
<hr />
<div class="row">
  <div
    class="border rounded p-4 offset-1 offset-sm-2 offset-md-3 col-10 col-sm-8 col-md-6">
    <form method="POST" action="{{ url_for('index', next=next) }}">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ render_field(form.username, class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>




{% endif %}
{% endblock%}
