{% extends "onboarding-template.html" %}
{% block title %}Onboarding — Database Configuration{% endblock %}
{% block onboarding_content %}
<h4 class="mt-4">Database Upload</h4>
<p>Upload the database you want to secure and its corresponding models.</p>
<p><b>NOTE:</b> Upon completion of the onboarding process, please remember to
  restart the SecureDB web application for changes to the database to take
  effect.</p>
<form id="db-upload-form" method="POST" action="/onboarding/database-config"
  enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="row">
    <div class="col-12 col-md-6 form-group">
      <label for="db-file-input">Database File</label>
      <input type="file" name="db-file" class="form-control" id="db-file-input"
        required="" />
    </div>
    <div class="col-12 col-md-6 form-group">
      <label for="db-models-input">Database Models</label>
      <input type="file" name="db-models" class="form-control"
        id="db-models-input" required="" />
    </div>
  </div>
</form>
<hr class="my-4" />
<div class="d-flex">
  <a class="btn btn-primary float-right ml-auto"
    onclick="document.getElementById('db-upload-form').requestSubmit()"
    role="button">Continue →</a>
</div>
{% endblock%}
