{% extends "onboarding-template.html" %}
{% block title %}Onboarding — Backup Configuration{% endblock %}
{% block onboarding_content %}
{% from "includes/_form_helper.html" import render_field %}
<h4 class="mt-4">Backup Configuration Setting</h4>
<p>Please choose the interval that the database would be backup at</p>
<form class="form" method="POST" id="onboarding-backup-form">
  {{ form.csrf_token }}
  <div class="col-12 col-md-6 form-group">
    {{ render_field(form.source, class="form-control") }}
  </div>
  <div class="col-12 col-md-6 ">
    {{ render_field(form.interval_type.label) }}
    <div>
      {% for field in form.interval_type %}
      <div class="form-check form-check-inline">
        {{ field(class="form-check-input") }}
        {{ field.label(class="form-check-label") }}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-6 form-group">
    {{ render_field(form.interval, class="form-control") }}
  </div>
</form>
<hr class="my-4" />
<div class="d-flex">
  <a class="btn btn-primary float-right ml-auto"
    role="button" onclick="document.getElementById('onboarding-backup-form').requestSubmit()">Continue →</a>
</div>
{% endblock %}
