{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css"
  href="/static/css/onboarding-styles.css" />
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="display-4 text-center">Onboarding</div>
    <p class="lead text-center">Welcome to SecureDB. This onboarding process
      will guide you through the configuration of some basic settings to get
      you started.</p>
    <hr class="my-4" />
    <div style="overflow-x: auto;">
      <div class="btn-group d-flex" role="group" style="pointer-events: none;">
        <button class="btn btn-outline-primary disabled"
          id="admin-user-creation-page-btn">Admin User Creation</button>
        <button class="btn btn-outline-primary disabled"
          id="database-config-page-btn">Database Configuration</button>
        <button class="btn btn-outline-primary disabled"
          id="encryption-key-config-page-btn">Encryption Key Configuration</button>
        <button class="btn btn-outline-primary disabled"
          id="api-config-page-btn">API Configuration</button>
        <button class="btn btn-outline-primary disabled"
          id="drive-upload-config-page-btn">Google Drive Upload
          Configuration</button>
        <button class="btn btn-outline-primary disabled"
          id="backup-config-page-btn">Backup Configuration</button>
        <button class="btn btn-outline-primary disabled"
          id="onboarding-complete-page-btn">Onboarding Complete</button>
      </div>
    </div>
    {% block onboarding_content %}
    {% endblock %}
  </div>
</div>
<script src="/static/js/highlightOnboardingProgress.js"></script>
{% endblock%}
