{% extends "base.html" %}
{% block title %}Upload New File{% endblock %}
{% block content %}
<div class="d-flex" style="height: 80vh;">
  <div class="ml-auto mr-auto align-self-center">
    <h1 class="text-center" style="font-size: 50px;">Upload File</h1>
    <p class="lead text-center">Choose file to upload:</p>
    <form action="" method="POST" enctype="multipart/form-data"
      class="text-center">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="form-group">
        <input type="file" name="file" class="form-control" />
      </div>
      <button class="btn btn-primary" onclick="confirmUpload()">Upload</button>
    </form>
  </div>
</div>
<script>
  function confirmUpload() {
    var message = confirm("Are you sure you want to upload this file?")
      ? "You pressed OK!"
      : "You pressed cancel!";
    document.querySelector("form").innerText = message;
  }
</script>
{% endblock %}
