{% extends "base.html" %}
{% block title %}Encrypt Field{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Choose field to encrypt:</h2>
      <form method="POST">
        {{ form.csrf_token}}
        <div class="form-group">
          <label for="email">User:</label>
          {{ form.user(class="form-control") }}
        </div>
        <div class="form-group">
          <label for="email">User Role:</label>
          {{ form.role(class="form-control")}}
        </div>
        <div class="form-group">
          <label for="email">Credit Card:</label>
          {{ form.credit_card(class="form-control")}}
        </div>
        <div class="form-group">
          <label for="email">Address:</label>
          {{ form.address(class="form-control")}}
        </div>
        <div class="form-group">
          <label for="email">Product:</label>
          {{ form.product(class="form-control")}}
        </div>
        <div class="form-group">
          <label for="email">Review:</label>
          {{ form.review(class="form-control")}}
        </div>
        <div class="form-group">
          <label for="email">Order Product:</label>
          {{ form.order(class="form-control")}}
        </div>
        <input type="submit" class="btn btn-primary btn-lg" onclick="confirmUpload()" />
      </form>
    </div>
  </div>
</div>
<script>
  function confirmUpload() {
    var message = confirm("Are you sure you want to upload this file?")
      ? "You pressed OK!"
      : "You pressed cancel!";
  }
</script>
{% endblock %}
